{{if $.Site.Data.config.enableLatex}}

{{ $katex_css := resources.Get "styles/katex.min.css" | resources.Fingerprint "md5" | resources.Minify }}
<link rel="stylesheet" href="{{ $katex_css.Permalink }}" crossorigin="anonymous">
{{ $katex_js := resources.Get "js/katex.min.js" | resources.Fingerprint "md5" | resources.Minify }}
<script defer src="{{ $katex_js.Permalink }}" crossorigin="anonymous"></script>

{{ $auto_render_js := resources.Get "js/auto-render.min.js" | resources.Fingerprint "md5" | resources.Minify }}
<script defer src="{{ $auto_render_js.Permalink }}" crossorigin="anonymous"></script>
{{end}}